<th:block th:insert="~{/fragments/head}"></th:block>
<title th:text="#{view.new.title}"></title>

<body>
	<th:block th:insert="~{/fragments/header :: header}"></th:block>
	<br>
	<main>
		<div th:if="${errors}">
			<div class="row d-flex justify-content-center align-items-center mb-4" id="warningsDiv">
				<span class="material-symbols-outlined">warning </span>
				<h4 th:text="${errors}" style="margin-bottom: 0; margin-left: 1%;"></h4>
			</div>
		</div>
		<form id="formData" name="formData" th:object="${formData}" action="/webAppMotorElectrico/saveDataset"
			method="get">
			<div th:if="${formData.id == null and formData.nombre != 'New Dataset' and formData.shaft_frequency == 0.0}">
				<div class="row d-flex justify-content-center align-items-center mb-4" id="warningsDivNew">
					<span class="material-symbols-outlined">warning </span>
					<h4 th:text="#{view.load.check.exists}" id="dataInfoNotFoundH4"
						style="margin-bottom: 0; margin-left: 1%;"></h4>
				</div>
			</div>
			<div th:if="${formData.id == null and formData.nombre == 'New Dataset'}">
				<div class="row d-flex justify-content-center align-items-center mb-4" id="warningsDivNew">
					<span class="material-symbols-outlined">warning </span>
					<h4 th:text="#{view.load.check.new}" id="dataInfoAlreadyExistsH4"
						style="margin-bottom: 0; margin-left: 1%;"></h4>
				</div>
			</div>
			<div th:if="${errorsVals}">
				<div class="row d-flex justify-content-center align-items-center mb-4" id="warningsDivNew">
					<span class="material-symbols-outlined">warning </span>
					<h4 th:text="${errorsVals}" style="margin-bottom: 0; margin-left: 1%;"></h4>
				</div>
			</div>
			<div class="row align-items-center" id="mi-div">
				<div class="col-12 col-xl-12 d-flex justify-content-center align-items-center">
					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{files_added}">
					<input type="text" class="head-new-input" th:field="*{nombre}" maxlength="15">
					<button type="submit" id="saveDatasetInfoBtt" hidden th:text="#{view.load.save.btt}"></button>
				</div>
			</div>
			<div class="row justify-content-between mt-4">
				<div class="col-12 col-xl-2 align-items-center mb-4" id="mi-div">
					<label style="font-weight: bold;" th:text="#{view.load.in.info}">:</label>
					<div class="row align-items-center mt-4">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.shaft}" style="text-align: center;">:</span>
						</div>
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{shaft_frequency}" pattern="[0-9]*\.?[0-9]*" class="onlyNums"
								style="text-align: center;" maxlength="10" required>
						</div>
						<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
							<span>Hz</span>
						</div>
					</div>
					<br>
					<div class="row align-items-center">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.sampling}" style="text-align: center;">:</span>
						</div>
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{sampling_frequency}" pattern="[0-9]*\.?[0-9]*"
								class="onlyNums" style="text-align: center;" maxlength="10" required>
						</div>
						<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
							<span>Hz</span>
						</div>
					</div>
					<br>
					<div class="row align-items-center">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.load}">:</span>
						</div>
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{carga}" pattern="[0-9]*\.?[0-9]*" class="onlyNums"
								style="text-align: center;" maxlength="10" required>
						</div>
						<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
							<span>Kn</span>
						</div>
					</div>
					<br>
					<div class="row align-items-center">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.bearing}" style="text-align: center;">:</span>
						</div>
						<div class="col-12 col-xl-7 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{bearing_type}" style="text-align: center;" maxlength="15" required>
						</div>
					</div>
					<br>
					<div class="row align-items-center">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.bpfo}">:</span>
						</div>
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{bpfo}" pattern="[0-9]*\.?[0-9]*" class="onlyNums"
								style="text-align: center;" maxlength="10" required>
						</div>
						<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
							<span>Hz</span>
						</div>
					</div>
					<br>
					<div class="row align-items-center">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.bpfi}">:</span>
						</div>
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{bpfi}" pattern="[0-9]*\.?[0-9]*" class="onlyNums"
								style="text-align: center;" maxlength="10" required>
						</div>
						<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
							<span>Hz</span>
						</div>
					</div>
					<br>
					<div class="row align-items-center">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.bsf}">:</span>
						</div>
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{bsf}" pattern="[0-9]*\.?[0-9]*" class="onlyNums"
								style="text-align: center;" maxlength="10" required>
						</div>
						<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
							<span>Hz</span>
						</div>
					</div>
					<br>
					<div class="row align-items-center">
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<span th:text="#{view.load.in.ftf}">:</span>
						</div>
						<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center">
							<input type="text" th:field="*{ftf}" pattern="[0-9]*\.?[0-9]*" class="onlyNums"
								style="text-align: center;" maxlength="10" required>
						</div>
						<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
							<span>Hz</span>
						</div>
					</div>

				</div>
				<div class="col-12 col-xl-9">
					<div class="row" id="allImagesDiv" style="display: none;">
						<div class="col-12" id="mi-div">
							<h4 id="faultInfoTimming" th:text="${faultInfoTimming}" style="text-align: center;"></h4>
							<div class="row" style="text-align: center;">
								<div class="col-12 col-xl-6">
									<img th:src="@{/images/test_graf.png}" style="width: 66%;" id="imgph1">
									<div th:if="${img2Front1Encoded}">
										<img th:src="@{'data:image/png;base64,' + ${img2Front1Encoded}}" alt="Imagen 1"
											style="width: 66%;" id="img1" data-toggle="modal"
											data-target="#imagenModal1">
										<br>
										<span th:text="#{view.load.info.faults}"></span>
										<span th:text="${faults_Outer_race}"></span>
										<span>Hz</span>
									</div>
									<div th:if="${img2Front3Encoded}">
										<img th:src="@{'data:image/png;base64,' + ${img2Front3Encoded}}" alt="Imagen 1"
											style="width: 66%;" id="img3" data-toggle="modal"
											data-target="#imagenModal3">
										<br>
										<span th:text="#{view.load.info.faults}"></span>
										<span th:text="${faults_Bearing_Balls}"></span>
										<span>Hz</span>
									</div>
								</div>
								<div class="col-12 col-xl-6">
									<img th:src="@{/images/test_graf.png}" style="width: 66%;" id="imgph2">
									<div th:if="${img2Front2Encoded}">
										<img th:src="@{'data:image/png;base64,' + ${img2Front2Encoded}}" alt="Imagen 2"
											style="width: 66%;" id="img2" data-toggle="modal"
											data-target="#imagenModal2">
										<br>
										<span th:text="#{view.load.info.faults}"></span>
										<span th:text="${faults_Inner_race}"></span>
										<span>Hz</span>
									</div>
									<div th:if="${img2Front4Encoded}">
										<img th:src="@{'data:image/png;base64,' + ${img2Front4Encoded}}" alt="Imagen 2"
											style="width: 66%;" id="img4" data-toggle="modal"
											data-target="#imagenModal4">
										<br>
										<span th:text="#{view.load.info.faults}"></span>
										<span th:text="${faults_Cage}"></span>
										<span>Hz</span>
									</div>
								</div>
							</div>
							<div th:if="${img2FrontNotFaultEncoded}">
								<div class="row justify-content-between align-items-center" style="text-align: center;">
									<div class="col-12">
										<img th:src="@{'data:image/png;base64,' + ${img2FrontNotFaultEncoded}}"
											alt="Imagen OK" style="width: 25.3%;" id="imgOk">
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row mt-3" id="semaforoDiv" style="display: none;">
						<div class="col-12" id="mi-div">
							<div class="row" style="text-align: center;">
								<div class="col-12 col-xl-3">
									<div class="circle" id="colorCircle1"></div>
									<span style="font-weight: bold;" th:text="#{view.load.tl.outer}"></span>
								</div>
								<div class="col-12 col-xl-3">
									<div class="circle" id="colorCircle2"></div>
									<span style="font-weight: bold;" th:text="#{view.load.tl.inner}"></span>
								</div>
								<div class="col-12 col-xl-3">
									<div class="circle" id="colorCircle3"></div>
									<span style="font-weight: bold;" th:text="#{view.load.tl.bear}"></span>
								</div>
								<div class="col-12 col-xl-3">
									<div class="circle" id="colorCircle4"></div>
									<span style="font-weight: bold;" th:text="#{view.load.tl.cage}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<br>
		<div class="row align-items-center justify-content-between">
			<div class="col-12 col-xl-5 mb-4">
				<form id="formNewUpload" method="post" action="/webAppMotorElectrico/uploadNewData"
					enctype="multipart/form-data">
					<input type="hidden" id="id2send" name="id2send" value="">
					<input type="hidden" id="name2send" name="name2send" value="">
					<div class="col-8">
						<div th:if="${errorsH}">
							<div class="row d-flex justify-content-center align-items-center mb-4" id="warningsDiv">
								<span class="material-symbols-outlined">warning </span>
								<h4 th:text="${errorsH}" style="margin-bottom: 0; margin-left: 1%;"></h4>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-12">
								<label for="file1" class="drop-container" id="dropcontainer">
									<span class="drop-title" th:text="#{view.load.health.btt}"></span>
									<input type="file" id="file1" name="healthyData2Save" required>
								</label>
							</div>
						</div>
						<div class="row d-flex justify-content-center align-items-center">
							<button type="button" id="uploadDataSamples" th:text="#{view.home.save.btt}"></button>
						</div>
					</div>
				</form>
				<form id="formDataCheckNew" name="formDataCheckNew" th:object="${formDataCheckNew}">
					<div th:if="${formDataCheckNew}" id="mi-div">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="regularNewAnalisys">
							<label class="form-check-label" for="regularNewAnalisys"
								th:text="#{view.load.check.select}"></label>
						</div>
						<div class="row justify-content-between align-items-center mt-2 mb-4">
							<div class="col-12 col-xl-4 d-flex justify-content-center align-items-center">
								<span th:text="#{view.load.select.healthy}"></span>
							</div>
							<div class="col-12 col-xl-3 d-flex justify-content-center align-items-center">
								<input type="text" placeholder="0" id="n_healthy_data" style="text-align: center;"
									pattern="[0-9]*\.?[0-9]*" class="onlyNums" maxlength="6">
							</div>
							<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center mb-2"></div>
							<div class="col-12 col-xl-3 d-flex justify-content-center align-items-center">
								<button type="button" th:onclick="eliminarSample(/*[[*{nombre}]]*/, /*[[*{id}]]*/)"
									hidden id="deleteAllData" th:text="#{view.load.erase.data}"></button>
							</div>
						</div>
						<div class="row justify-content-between align-items-center mt-2" id="allDataLoaded">
							<div class="col-12 col-xl-4 d-flex justify-content-center align-items-center">
								<span th:text="#{view.load.select.check}"></span>
							</div>
							<div class="col-12 col-xl-3 d-flex justify-content-center align-items-center">
								<input type="text" style="text-align: center;" pattern="[0-9]*\.?[0-9]*"
									class="onlyNums" maxlength="6" th:field="*{min_to_check}">
							</div>
							<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center">
								<span th:text="#{view.load.select.to}"></span>
							</div>
							<div class="col-12 col-xl-3 d-flex justify-content-center align-items-center">
								<input type="text" style="text-align: center;" pattern="[0-9]*\.?[0-9]*"
									class="onlyNums" maxlength="6" th:field="*{max_to_check}">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 col-xl-5 mb-4">
				<form id="formDataCheckNewDos" name="formDataCheckNewDos" action="/webAppMotorElectrico/runNewload"
					method="post" enctype="multipart/form-data">
					<div id="mi-div">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="upload4NewAnalisys">
							<label class="form-check-label" for="upload4NewAnalisys"
								th:text="#{view.load.check.upload}"></label>
						</div>
						<input type="hidden" id="id_upp" name="id_upp" th:value="${id_upp}" />
						<input type="hidden" id="nombre_req_upp" name="nombre_req_upp" th:value="${nombre_req_upp}" />
						<input type="hidden" id="shaft_frequency_req_upp" name="shaft_frequency_req_upp"
							th:value="${shaft_frequency_req_upp}" />
						<input type="hidden" id="sampling_frequency_req_upp" name="sampling_frequency_req_upp"
							th:value="${sampling_frequency_req_upp}" />
						<input type="hidden" id="bpfo_req_upp" name="bpfo_req_upp" th:value="${bpfo_req_upp}" />
						<input type="hidden" id="bpfi_req_upp" name="bpfi_req_upp" th:value="${bpfi_req_upp}" />
						<input type="hidden" id="bsf_req_upp" name="bsf_req_upp" th:value="${bsf_req_upp}" />
						<input type="hidden" id="ftf_req_upp" name="ftf_req_upp" th:value="${ftf_req_upp}" />
						<input type="hidden" id="healthy_number_req_upp" name="healthy_number_req_upp"
							th:value="${healthy_number_req_upp}" />
						<div class="row justify-content-between align-items-center mt-2">
							<div class="col-12 col-xl-4 d-flex justify-content-center align-items-center">
								<span th:text="#{view.load.select.healthy}"></span>
							</div>
							<div class="col-12 col-xl-3 d-flex justify-content-center align-items-center">
								<input type="text" placeholder="0" id="n_healthy_data_upload"
									style="text-align: center;" pattern="[0-9]*\.?[0-9]*" class="onlyNums"
									maxlength="6">
							</div>
							<div class="col-12 col-xl-1 d-flex justify-content-center align-items-center mb-2"></div>
						</div>
						<div class="row justify-content-between align-items-center mt-2" id="onlyHealthyLoaded">
							<div class="col-12 col-xl-4 d-flex justify-content-center align-items-center">
								<span th:text="#{view.load.select.updata}"></span>
							</div>
							<div class="col-12 col-xl-8 d-flex justify-content-center align-items-center">
								<input type="file" value="" id="uploadDataSampleInput" name="uploadDataSampleInput"
									style="width: 100%;" required>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row justify-content-center align-items-center mt-2">
			<div class="col-12 col-xl-12 d-flex justify-content-center align-items-center mb-4">
				<form id="runNewform" name="runNewform" action="/webAppMotorElectrico/runNewload" method="post">
					<input type="hidden" id="nombre_req" name="nombre_req" th:value="${nombre_req}" />
					<input type="hidden" id="shaft_frequency_req" name="shaft_frequency_req"
						th:value="${shaft_frequency_req}" />
					<input type="hidden" id="sampling_frequency_req" name="sampling_frequency_req"
						th:value="${sampling_frequency_req}" />
					<input type="hidden" id="bpfo_req" name="bpfo_req" th:value="${bpfo_req}" />
					<input type="hidden" id="bpfi_req" name="bpfi_req" th:value="${bpfi_req}" />
					<input type="hidden" id="bsf_req" name="bsf_req" th:value="${bsf_req}" />
					<input type="hidden" id="ftf_req" name="ftf_req" th:value="${ftf_req}" />
					<input type="hidden" id="first_sample_req" name="first_sample_req" th:value="${first_sample_req}" />
					<input type="hidden" id="analyzed_number_req" name="analyzed_number_req"
						th:value="${analyzed_number_req}" />
					<input type="hidden" id="healthy_number_req" name="healthy_number_req"
						th:value="${healthy_number_req}" />
					<button id="runNew" type="button" th:text="#{view.load.run.btt}"></button>
					<button id="saveDatasetFakeBtt" type="button" onclick="$('#saveDatasetInfoBtt').click();"
						th:text="#{view.load.save.btt}"></button>
					<button id="deleteDatasetFakeBtt" type="button" onclick="$('#deleteAllData').click();"
						th:text="#{view.load.erase.data}"></button>
					<button id="back-btt" type="button" th:text="#{view.load.bck.btt}"
						onclick="window.location.href = '/webAppMotorElectrico/home';"></button>
				</form>
			</div>
		</div>
		<div class="row justify-content-center align-items-center mt-2">
			<div class="col-12 col-xl-5 d-flex justify-content-center align-items-center mb-4">
				<button type="button" id="pdf1" style="display: none;">
					<span class="material-symbols-outlined" style="vertical-align: middle;">download</span>
					<span th:text="#{view.load.exp.btt}" style="vertical-align: middle;"></span>
				</button>
				<button type="button" id="pdf2" style="display: none;">
					<span class="material-symbols-outlined" style="vertical-align: middle;">download</span>
					<span th:text="#{view.load.int.btt}" style="vertical-align: middle;"></span>
				</button>
			</div>
		</div>
		<span th:text="#{view.load.change.name}" id="tmp4Exist" hidden></span>
		<span th:text="#{view.load.change.zero}" id="tmp4Zero" hidden></span>
		<form id="runResForm" name="runResForm" th:object="${runResForm}">
			<div th:if="${runResForm}">
				<input type="hidden" id="n_healthy_used" name="n_healthy_used" th:value="${n_healthy_used}" />
				<input type="hidden" id="fault_detected" name="fault_detected" th:field="*{fault_detected}" />
				<input type="hidden" id="fault_info" name="fault_info" th:field="*{fault_info}" />
				<input type="hidden" id="fault_type" name="fault_type" th:field="*{fault_type}" />
				<input type="hidden" id="analysis_result" name="analysis_result" th:field="*{analysis_result}" />
				<input type="hidden" id="fault_details_Outer_race" name="fault_details_Outer_race"
					th:value="${data_Outer_race}" />
				<input type="hidden" id="fault_details_Inner_race" name="fault_details_Inner_race"
					th:value="${data_Inner_race}" />
				<input type="hidden" id="fault_details_Bearing_Balls" name="fault_details_Bearing_Balls"
					th:value="${data_Bearing_Balls}" />
				<input type="hidden" id="fault_details_Cage" name="fault_details_Cage" th:value="${data_Cage}" />
				<input type="hidden" id="resultTimeReport" name="resultTimeReport" th:field="*{resultTimeReport}" />
				<input type="hidden" id="resultFreqReport" name="resultFreqReport" th:field="*{resultFreqReport}" />
			</div>
		</form>
	</main>
	<div class="modal fade" id="imagenModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body d-flex align-items-center justify-content-center">
					<div th:if="${img2Front1Encoded}">
						<img th:src="@{'data:image/png;base64,' + ${img2Front1Encoded}}" alt="Imagen 1"
							style="width: 75%;">
						<br>
						<span th:text="#{view.load.info.faults}"></span>
						<span th:text="${faults_Outer_race}"></span>
						<span>Hz</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" th:text="#{view.modal.footer.close}"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="imagenModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body d-flex align-items-center justify-content-center">
					<div th:if="${img2Front3Encoded}">
						<img th:src="@{'data:image/png;base64,' + ${img2Front3Encoded}}" alt="Imagen 3"
							style="width: 75%;">
						<br>
						<span th:text="#{view.load.info.faults}"></span>
						<span th:text="${faults_Bearing_Balls}"></span>
						<span>Hz</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" th:text="#{view.modal.footer.close}"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="imagenModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body d-flex align-items-center justify-content-center">
					<div th:if="${img2Front2Encoded}">
						<img th:src="@{'data:image/png;base64,' + ${img2Front2Encoded}}" alt="Imagen 2"
							style="width: 75%;">
						<br>
						<span th:text="#{view.load.info.faults}"></span>
						<span th:text="${faults_Inner_race}"></span>
						<span>Hz</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" th:text="#{view.modal.footer.close}"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="imagenModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body d-flex align-items-center justify-content-center">
					<div th:if="${img2Front4Encoded}">
						<img th:src="@{'data:image/png;base64,' + ${img2Front4Encoded}}" alt="Imagen 4"
							style="width: 75%;">
						<br>
						<span th:text="#{view.load.info.faults}"></span>
						<span th:text="${faults_Cage}"></span>
						<span>Hz</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" th:text="#{view.modal.footer.close}"></button>
				</div>
			</div>
		</div>
	</div>
	<th:block th:insert="~{/fragments/footer}"></th:block>
</body>
<script>
	$(document).ready(function () {
		$("#manageLink").css({"display": "inline"});
		if ($("#loggedUserFlag").val() == 'admin') {
			$("#adminUsersBtt").css({"display": "inline"});
		}
		$("#logout").css({"display": "inline"});
	});
</script>

</html>